@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #FFFFFF;
  /* --background-start-hex: #1a6ded;
  --background-end-hex: #0f52ba; */
  --background-start-hex: #28282B;
  --background-end-hex: #000000;
  --axis-hex: #E5E4E2
}

body {
  color: var(--foreground-hex);
  background: linear-gradient(to bottom,
      transparent,
      var(--background-end-hex)) var(--background-start-hex);
}

.axis-line {
  stroke: var(--axis-hex);
}

.axis-text {
  fill: var(--axis-hex);
  text-anchor: middle;
  font-size: 10px;
}

.axis-label {
  fill: var(--axis-hex);
  text-anchor: start;
  font-size: 12px;
  font-weight: 600;
}

.legend {
  fill: var(--axis-hex);
  text-anchor: start;
  font-size: 12px;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: white;
  font-size: 12px;
  padding: 4px;
  margin-left: 15px;
  transform: translate(-50%, -25%);
}

.tooltip>.label {
  font-weight: 700;
}